<div class="container">
<%= image_tag "contact.jpg", class: "contact_image"   %>
<div class="contact_body">
	<p><b>Malleswaram, Bangalore, India 560003</b></p>
	<p><b>facebook.com/sibhsinternational</b></p>
	<p><b>@ManglaBanasude</b></p>
	<p><b>9900614456</b></p>
	<div class="icons">
	<%= link_to (image_tag ("insta.svg")), "https://www.instagram.com", target: "_blank" %>
	<%= link_to (image_tag ("twitter.svg")), "https://www.twitter.com", target: "_blank"%>
	<%= link_to (image_tag ("facebook.svg")), "https://www.facebook.com", target: "_blank"%>
</div>
 <%= render 'layouts/new_contact' %>
</div>	
</div>
