<%= render 'layouts/carousel' %> 
<div class="about_me">
<div class="container text-center">    
  <h2> <b>About Mangla</b> </h2><br>
  <div class="about_body">
  <%= image_tag "about1.jpg", class: "image1"   %>
  <div class="para1">
  <p> Born and brought up in mumbai, Mangla Banasude a typical mumbaikar grew up the influence of bollywood, actress Rekha Facinated her the most.</p>
  
  
  <p>The wedding bells rang at an early age. The late Prime Minister's assassination put the country on a stand still and the young bride completely heart broken and shattered, got married without any make-over</p>
  
  <p>This experience gave birth to Mangla Banasude Celebrity Makeup Designer.</p>
  </div>


  
  <div class="clear"></div>
<div class="divider">
  <hr></hr>
</div>
  <%= image_tag "about2.jpg", class: "image2"   %>
  <div class="para2">
  <p>Mangla Bansude has international certifications in Beauty. 17 years of rich experience in Bollywood Makeup and Hair is loved by her brides and Celebrities as well</p>
  <p>Bridal, Fashion, Celebrities, Flims, She has done it all.</p>
  <p>As a Beauty educator she is extremly passionate about training. Approx 150 branded salons are trained by her in south India.</p>
  <p>Mangla Banasude Bridal Lounge is driven by passion</p>
    </div>
    </div>
    </div>
    </div>