<%= render 'layouts/carousel' %> 

    <section class="well-6">
      <div class="container">
        <hr>
        <h2 class="center">About us</h2>
        <div class="row">
          <div class="grid_5"><%= image_tag "page-2_img01.jpg" %>
          </div>
          <div class="grid_7">
            
            <p class="offset-1">A vibrant and passionate Mangla was born and raised in Mumbai. As a typical Mumbaikar, she was also completely influenced and charmed by Rekha, the well-known Bollywood actor, who was famous for her exuberant acting skills and charismatic looks.
            <br><br>
            Like any other Indian girl of the 80’s, wedding bells rang at a significantly young age for Mangla. But what left her shattered and heartbroken was that she had to attend her own wedding without the glomorous makeover that she’d imagined, because of the misfortune the struck the nation; the assasination of the then Prime Minister, Indira Gandhi, which led to chaos across the country.
            <br><br>
            Marrigae is every girl’s dream. Most little girls prepare to be a beautiful bride from the time they know what marriage is. Unfortunately for Mangla, this dream of hers was crushed for no fault of hers. This experience gave birth to the new and improved Mangla Banasude - celebrity makeup artist.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="well-7 bg-white">
      <div class="container">
        <h2 class="center">My Journey</h2>
       <div>
              
              <p>Popularly known as the best makeup artist in Bangalore, Mangla is the founder of the famous makeup school, Society for International Beauty and Hair Society (SIBHS). SIBHS now functions as a renowned and celebrated beauty and makeup studio in Bangalore.
              <br><br>
              In the recent past, SIBHS has been fortunate to partner with Mrs. India International - Bangalore, where Mangla and her team of experts had provided the contestant with breath-taking makeovers.
              <br><br>
              Mangla is considered to be one of the top 10 bridal makeup artists in Bangalore. She hails from the era where she was one among the first few Indian makeup artists who put their heart and soul into starting online and lab-based professional makeup courses for aspiring beauticians. Most of these courses were customized to meet the needs of both amateurs and professionals looking to upskill.
              <br><br>
              Banasude has also received international certifications in skin care and makeup, from prominent institutions. She was trained under the expertise and guidance of Christine Valmy (USA), Manara Berezina (Gold medallist in Russia) and a few reputed makeup artists of Bollywood.
              <br><br>
              Mangla has had the privilege of working with eminent actors of the film industry, including Mannara Chopra (Priyanka Chopra's cousin), Kannada movie actors Prema and Shubha Poonja and Tamil movie actor Priya Mani.
              <br><br>
              Apart from being a skilled bridal and celebrity makeup artist, Mangla has worked for the fashion, film and television fraternities, and has also been instrumental in enhancing the beauty and looks of models and contestants of various beauty pageants.
              </p>
            </div>
      </div>
    </section>
  </main>