
<div class="container text-center">
<div class="title">
<h1>Blogs</h1>
</div>
<div class="row">
<% if @posts.present? %>
<% @posts.each do |post|%>
<div class="col-sm-4"> 

<div class="img"> 
<%= image_tag post.image.url(:medium) %>

<br>
<b><div class="desc"><%= link_to post.title,  post, target: "_blank" %></div></b>
</div>
</div>
<% end %>
<% end %>
</div>
</div>
