<div class="portfolio">
<div class="container">

<div class="title">
<h1>Bridal</h1>
</div>

<% @galleries.each do |gallery| %>
<div class="col-sm-4">
<%= link_to gallery.image.url do %>
<%= image_tag gallery.image.url, class: "image" %>
</div>
<% end %>
<% end %>
</div>
</div>
