.contact_image{
	margin-top: 2em;
	height:500px;
	margin-bottom: 2em;
	float: left;
}
.video_head{
	text-align: center;
	margin-top: 3em;
	h3{
		margin-top: 1em;

	margin-bottom: 1em;
	}
}
.video_body{
	margin-top: 3em;
	margin-bottom: 4em;
	margin-left: 20em;

}
.container .grid_6 {
    width: 570px;
    padding: 2em;
}
.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}
.row{
	img {
    height: -moz-available;
    width: -moz-available;
}
.post_cnt__no-flow {
    text-align: center;
}
}
.workshop_carousel > .carousel-inner > .item img {
width: 35%;
margin: auto;
}
.workshop_content{
	margin: 5% 0 0 0;
text-align: justify;
}
.form{

      width: 80%;
      text-align: center;
      margin: auto;
.field{
  margin-top: 1em;
}
.actions{
  margin-top: 1em;
  margin-bottom: 1em;
}
  }
	#flash-notice{
		position: absolute;
		top: 0;
		width: 100%;
	}
