// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about_me{
 padding-top: 4em;
.para1{
    text-align: justify;
    padding: 12% 0% 0%;
    float: right;
    width: 52%;
    font-size: 1.1em;
}
  
  .image1{
float: left;
padding: 0% 0% 5%;
height: 400px;
width: 400px;
margin-top: 3.2em;
  }

  .para2{
text-align: justify;
margin: 15% 0% 0% 3%;
float: left;
width: 42%;
 font-size: 1.1em;

  }

  .image2{
  float: right;
  margin: 6% 3% 11%;
  height: 400px;
  width: 400px;
  }
  .clear{
  clear: both;
  }

  }