.post {

	padding-top: 1em;
	
}

.image{
	height: auto;
	width: 100%;
	}
.title{
	font-size: 2em;
	text-align: center;
	margin-bottom: 1em;

}
.post_body p{
	margin-top: 2em;
	line-height: 1.5;
	text-align: justify;
}
  div.desc {
    padding: 8%;
    text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}