  <footer class="inset__bot">
    <div class="container">
      <div class="row">
        <div class='verta-box'>
          <div class='verta-box_wr'>
            <div class='verta-box_cnt'>
              <div class="grid_4">
                © <span id="copyright-year" class="cpr"></span>
                <a href="index-6.html">Privacy Policy</a>
              </div>
            </div>
            <div class='verta-box_cnt'>
              <div class="grid_4">
                <address>
                  Malleswaram, Bangalore <br/>
                   India 560003
                </address>
              </div>
            </div>
            <div class='verta-box_cnt'>
              <div class="grid_4">
                <ul class="inline-list">
                  <li><a href="https://www.facebook.com/manglabanasude/" class="fa fa-facebook" target="_blank"></a></li>
                  <li><a href="#" class="fa fa-google-plus"></a></li>
                  <li><a href="#" class="fa fa-pinterest"></a></li>
                  <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
