<footer class="container-fluid">

   <div class="icons">
	<%= link_to (image_tag ("insta.svg")), "https://www.instagram.com", target: "_blank" %>
	<%= link_to (image_tag ("twitter.svg")), "https://twitter.com/manglabanasude", target: "_blank"%>
	<%= link_to (image_tag ("facebook.svg")), "https://www.facebook.com/manglabanasude", target: "_blank"%>
</div>
  <div class="foot-nav">
 <ul>
      
     </ul>
     </div>  


</footer>